In [19]:
import pandas as pd
#path_prefix = "/home/jovyan/work/data/"
path_prefix = "/Users/MrMaksimize/Code/jupyter_nb/data/"

In [20]:
update = pd.read_csv(path_prefix + 'SanDiegoPayDataRequest11112016.csv')

In [21]:
update = update[['Meter Type', 'Pole', 'Amount($)', 'Transaction Type', 'Start Date Time', 'Expiry Time']]
update = update.rename(columns = {
    'Meter Type':'meter_type',
    'Start Date Time':'trans_start',
    'Expiry Time':'meter_expire',
    'Amount($)':'trans_amt',
    'Transaction Type':'pay_method',
    'StartDateTime':'trans_start',
    'Pole':'pole_id'
})

In [22]:
print(update['trans_start'].min(), update['trans_start'].max())

06/03/2016 00:27:34 10/13/2016 19:55:39

In [23]:
update['trans_start'] = pd.to_datetime(update['trans_start'],  format="%m/%d/%Y %H:%M:%S")
update['meter_expire'] = pd.to_datetime(update['meter_expire'],  format="%m/%d/%Y %H:%M:%S")
update.head()

,meter_type,pole_id,trans_amt,pay_method,trans_start,meter_expire
0,SS,CE-503,0.0,NaN,2016-06-03 00:27:34,2016-06-03 00:27:34
1,SS,CE-503,0.5,Coins,2016-06-03 00:27:34,2016-06-03 00:27:34
2,SS,CE-503,0.0,NaN,2016-06-03 00:27:58,2016-06-03 00:27:58
3,SS,CE-503,0.3,Coins,2016-06-03 00:27:58,2016-06-03 00:27:58
4,SS,UV-1807,0.1,Coins,2016-06-03 00:40:33,2016-06-03 00:40:33

In [24]:
#update['trans_start'] = update['trans_start'].dt.strftime('%Y-%m-%d %H:%M:%S')
#update['meter_expire'] = update['meter_expire'].dt.strftime('%Y-%m-%d %H:%M:%S')
update['trans_amt'] = update['trans_amt'] * 100
update['trans_amt'] = update['trans_amt'].astype(int)
update.head()

,meter_type,pole_id,trans_amt,pay_method,trans_start,meter_expire
0,SS,CE-503,0,NaN,2016-06-03 00:27:34,2016-06-03 00:27:34
1,SS,CE-503,50,Coins,2016-06-03 00:27:34,2016-06-03 00:27:34
2,SS,CE-503,0,NaN,2016-06-03 00:27:58,2016-06-03 00:27:58
3,SS,CE-503,30,Coins,2016-06-03 00:27:58,2016-06-03 00:27:58
4,SS,UV-1807,10,Coins,2016-06-03 00:40:33,2016-06-03 00:40:33

In [25]:
portal = pd.read_csv(path_prefix + 'treas_parking_payments_2016_datasd_1.csv')
portal = portal.drop(['smartcard_id'], axis=1)
portal['trans_start'] = pd.to_datetime(portal['trans_start'],  format="%Y-%m-%d %H:%M:%S")
portal['meter_expire'] = pd.to_datetime(portal['meter_expire'],  format="%Y-%m-%d %H:%M:%S")
portal.head()

,meter_type,pole_id,trans_amt,pay_method,trans_start,meter_expire
0,SS,WA-212,25,CASH,2016-01-01 00:06:20,2016-01-01 00:06:20
1,MS,4-300W,25,CASH,2016-01-01 00:21:36,2016-01-01 00:21:36
2,SS,9-502,5,CASH,2016-01-01 00:46:57,2016-01-01 00:46:57
3,SS,9-502,30,CASH,2016-01-01 00:47:09,2016-01-01 00:47:09
4,SS,10-3819,125,CASH,2016-01-01 00:56:43,2016-01-01 00:56:43

In [26]:
#pd.to_datetime(portal['trans_start'])
print(portal['trans_start'].min(), portal['trans_start'].max())

2016-01-01 00:06:20 2016-06-02 21:46:14

In [27]:
portal_up = pd.concat([portal, update])
portal_up.meter_type = portal_up.meter_type.str.upper()
portal_up.pole_id = portal_up.pole_id.str.upper()
portal_up.pay_method = portal_up.pay_method.str.upper()
portal_up.meter_type = portal_up.meter_type.str.extract('(SS|MS)')
portal_up.head()

/usr/local/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

,meter_type,pole_id,trans_amt,pay_method,trans_start,meter_expire
0,SS,WA-212,25,CASH,2016-01-01 00:06:20,2016-01-01 00:06:20
1,MS,4-300W,25,CASH,2016-01-01 00:21:36,2016-01-01 00:21:36
2,SS,9-502,5,CASH,2016-01-01 00:46:57,2016-01-01 00:46:57
3,SS,9-502,30,CASH,2016-01-01 00:47:09,2016-01-01 00:47:09
4,SS,10-3819,125,CASH,2016-01-01 00:56:43,2016-01-01 00:56:43

In [28]:
portal_up = portal_up.sort_values(by='trans_start')
portal_up.head()

,meter_type,pole_id,trans_amt,pay_method,trans_start,meter_expire
0,SS,WA-212,25,CASH,2016-01-01 00:06:20,2016-01-01 00:06:20
1,MS,4-300W,25,CASH,2016-01-01 00:21:36,2016-01-01 00:21:36
2,SS,9-502,5,CASH,2016-01-01 00:46:57,2016-01-01 00:46:57
3,SS,9-502,30,CASH,2016-01-01 00:47:09,2016-01-01 00:47:09
4,SS,10-3819,125,CASH,2016-01-01 00:56:43,2016-01-01 00:56:43

In [29]:
portal_up.to_csv(path_prefix + 'treas_parking_payments_2016_datasd.csv', index=False, encoding='utf-8', doublequote=True, date_format="%Y-%m-%d %H:%M:%S")